
@{
    ViewBag.Title = "Index";
}


          <div class="container" >
     <h2>Sign In</h2>
    <form action="/Admin/login" method="post"><br />
    <label class="col-lg-2">User name:</label>
    <input type="text" placeholder="username"/><br />
    <label class="col-lg-2"> <br />Password:</label><br />
    <input type="text" placeholder="**********"/><br /><br />
    <input class="col-lg-offset-3 btn-success"  type="submit"  value="Sign In" /><br />
    </form>
    <br /><label class="col-lg-offset-3">Recover<a href="#" title="forget"> username/password </a></label>
     </div>